@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 42, 181);    
    font-family: "Montserrat", sans-serif;
}

img {
    height: 450px;
    width: auto;
    border-radius: 30px;
    margin-top: 65px;
}

.container {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 25px;
    gap: 35px;
    color: white;
}

button {
    font-size: 18px;
    margin-top: 25px;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(224, 174, 64);
    border: none;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(94, 4, 97);
    transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    img {
        height: 300px;
        margin-top: 20px;
    }
}


   
